# Número do dono do bot (formato internacional, sem + nem espaços)
# Exemplo: 244912345678
OWNER_NUMBER= 244954448377

# Número para autenticar via Pairing Code (formato internacional, sem + nem espaços)
# Exemplo: 244912345678
PAIRING_NUMBER= 244945117629

# Porta do servidor Express (Render define automaticamente)
PORT=3000

# Prefixo dos comandos (padrão: .)
PREFIX=.
